@font-face {
    font-family: neu;
    src: url(../fonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(../NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(../NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;

}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #fff;
}


#main {
    position: relative;
    z-index: 10;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #EFEAE3;
    padding: 30px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#nav-part2 {
    display: flex;
    gap: 20px;
    align-items: center;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #8a8a8a89;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    overflow: hidden;
}

#nav-part2 h4 a {
    text-decoration: none;
    color: #000;
    z-index: 9;
    position: relative;
}

#nav-part2 h4::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    left: 0;
    border-radius: 50px;
    bottom: -100%;
    transition: all ease 0.3s;

}

#nav-part2 h4:hover::after {
    bottom: 0;
}

#nav-part2 h4:hover a {
    color: #fff;
}

.banner-section {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 30px;
    align-items: flex-end;
    border-bottom: 1px solid rgb(191, 187, 182);
}

.banner-section h3 {
    width: 65%;
    font-size: 30px;
    line-height: 35px;

}

.banner-section .right-text h1 {
    font-size: 145px;
    line-height: 120px;
    text-align: end;
}


.banner-video video {
    width: 100%;
    border-radius: 30px;
    margin-top: 60px;
    position: relative;
}

.hero-shape {
    position: absolute;
    height: 36vw;
    width: 46vw;
    right: 0;
    top: 80vh;
}

.hero-shape .hero1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}

.hero-shape .hero2 {
    background: linear-gradient(#FE320A, #fe3f0a);

    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

.hero-shape .hero3 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(50%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}

#page2 {
    position: relative;
    padding-top: 8vw;
    width: 100%;
    min-height: 120vh;
    background-color: #EFEAE3;
}

.moving-text {
    white-space: nowrap;
    overflow-x: auto;
}

.moving-text::-webkit-scrollbar {
    display: none;
}

.container {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

.moving-text h3 {
    font-size: 135px;
    /* line-height: 108px; */
    text-transform: uppercase;
    display: inline-block;
}

.moving-text .icon-svg {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: #FE320A;
    margin: 1vw 2vw;
    display: inline-block;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}



.page2-bottom {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 80px;

}

.bottom-head {
    width: 70%;
    position: relative;
    z-index: 9;
}

.bottom-head h4 {
    font-size: 52px;
    width: 80%;
}

.bottom-part2 {
    width: 30%;
    margin-top: 120px;
}

.bottom-part2 img {
    width: 250px;
    height: 150px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.bottom-part2 p {
    font-weight: 200;
    font-size: 12px;
    width: 255px;
}

#page2 #page2-bg-svg {
    height: 35vw;
    width: 35vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    top: 55%;
    left: 22%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes gooey {
    from {
        filter: blur(20px);
        transform: translate(5%, -5%) skew(0);
    }

    to {
        filter: blur(30px);
        transform: translate(-5%, 5%) skew(-1deg);
    }
}

#page3 {
    width: 100%;
    min-height: 100vh;
    background-color: #EFEAE3;
}

#page3 .page3-head {
    display: flex;
    align-items: center;
    padding: 30px 30px;
    gap: 5px;
}

.page3-head h3 {
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
}

.svg-ico {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #FE330A;
}

.elem {
    height: 96px;
    width: 100%;
    border-bottom: 1px solid rgb(207, 201, 201);
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 30px;
    overflow: hidden;
    justify-content: space-between;
}

.elem h3 {
    z-index: 10;
    font-weight: bolder;
    font-size: 45px;
    position: relative;
}

.brand-name h6 {
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    text-align: right;
}

.brand-name p {
    font-weight: 300;
    color: rgb(208, 198, 198);
    position: relative;
    z-index: 10;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: #FF9831;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.3s;
}

.elem:hover .overlay {
    top: 0;
}

.fixed-image {
    height: 450px;
    width: 350px;
    border-radius: 30px;
    position: fixed;
    z-index: 99;
    top: 20%;
    left: 50%;
    display: none;
    background-size: cover;
    background-position: center;
}

.proj-btn {
    padding: 30px;
}

.proj-btn h4 {
    width: 150px;
    height: 52px;
    padding: 10px 20px;
    border: 1px solid #8a8a8a89;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    overflow: hidden;
}

.proj-btn h4 a {
    text-decoration: none;
    color: #000;
    z-index: 9;
    position: relative;
}

.proj-btn h4::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    left: 0;
    border-radius: 50px;
    bottom: -100%;
    transition: all ease 0.3s;

}

.proj-btn h4:hover::after {
    bottom: 0;
}

.proj-btn h4:hover a {
    color: #fff;
}

#page4 {
    width: 100%;
    min-height: 100vh;
    background-color: #EFEAE3;
    padding: 30px;
}

#page4 .proj-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    border-radius: 30px;
    gap: 20px;
}

.proj-section .section-text {
    padding: 60px;
    width: 50%;
}

.section-title h4 {
    font-size: 65px;
    color: #fff;
    padding-left: 30px;
}

.section-text p {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    padding-top: 50px;
}

.section-title {
    position: relative;
}

.section-title::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #fff;
    left: 0;
    top: 0;
}

.proj-section .proj-image {
    width: 50%;

}

.proj-section .proj-image img {
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}


#page5 {
    width: 100%;
   height: 100vh;
}

#footer {
    position: fixed;
    z-index: 9;
    height: 100vh;
    width: 100%;
    bottom: 0;
    background-color: #000;
    color: #fff;
}

#footer .bg-shape1 {
    position: absolute;
    background-color: #fe330a;
    filter: blur(50px);
    top: -50%;
    left: -20%;
    width: 90%;
    height: 90%;
    animation-duration: 3s;
    animation-timing-function:
        linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: bg-shape1;
}

#footer .bg-shape2{
        position: absolute;
    background-color: #fe330a;
    filter: blur(50px);
    right: -27%;
    top: -27%;
    width: 70%;
    height: 90%;
    animation-duration: 4s;
    animation-timing-function: 
linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
       animation-name: bg-shape2;
}

@keyframes bg-shape1 {
    from {
        transform: rotate(-10deg);
    }

    to {
        transform: rotate(-20deg);
    }
}
@keyframes bg-shape2 {
    from {
            transform: rotate(30deg);
    }

    to {
        transform: rotate(45deg);
    }
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    position: relative;
}

.footer-top .top-left h3 {
    font-size: 35px;
    font-weight: 600;

}

.top-right p {
    font-weight: 300;
    font-weight: 18px;
    line-height: 20px;
    width: 260px;
}

.top-right input {
    margin-top: 30px;
    color: #fff;
    height: 52px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    width: 250px;
    font-size: 20px;
    font-weight: 300;
}

.top-right input::placeholder{
    color: #fff;
    font-size: 18px;
}

.footer-bottom {
    padding: 0 60px;
    margin-top: 60px;

}

.footer-bottom img {
    width: 100%;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}